//tabs
ul.tabs-component-tabs {
    display: flex;
    margin: 1.2rem auto 1rem auto;
    border-bottom: 1px solid rgba(36, 39, 44, 0.2);

    li {
        margin-right: 1.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid transparent;

        &.is-active {
            border-bottom: 2px solid $main-color;

            a {
                color: $main-color;
            }
        }
    }
}
