//bs 5
@import "bootstrap/scss/bootstrap.scss";

@import "abstracts/variables";
@import "abstracts/mixins";
@import 'abstracts/global';
//utils
@import "abstracts/utils";
//layout
@import "layout/base-button";
@import "layout/base-card";
@import "layout/header";
@import "layout/footer";
//pages
@import 'pages/_home';
@import "pages/used-cars";
@import "pages/sell-car/sell-car";
@import "pages/advanced-search/advanced-search";
//components
@import "components/vehicle-singleton";
@import "components/simple-search";

html {
    @include scrollbar
}

body {
    background-color: #fafafa;
    position: relative;
}

#app {
    background-color: #fafafa;
}

a, p, h1, h2, h3, h4, h5, h6, li, button {
    color: $secondary-color;
}
//p {
//    font-size: 1.125rem;
//}

a {
    text-transform: none;

    &:active,
    &:focus,
    &:hover {
        text-transform: none;

    }
}
