@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");
//bs 5
@import "bootstrap/scss/bootstrap.scss";

@import "abstracts/variables";
//@import "abstracts/fonts";
@import "abstracts/mixins";
@import "abstracts/global";
@import "abstracts/forms";
//utils
@import "abstracts/utils";
//layout
@import "abstracts/buttons";
@import "layout/base-card";
@import "layout/header";
@import "layout/footer";
//pages
@import "pages/_home";
@import "pages/used-cars";
@import "pages/upload-offer/upload-offer";
@import "pages/advanced-search/advanced-search";
@import "pages/profile";
//components
@import "components/vehicle-singleton";
@import "components/simple-search";

:root {
    //Formkit vars
    --fk-max-width-input: 100% !important;
    --fk-bg-submit: #ff4739 !important;
    --fk-bg-submit-hover: #ec3529 !important;
    --fk-font-size-button: 15px !important;
    --fk-border-radius: 5px !important;
    --fk-color-border-focus: #ff4739 !important;
    --fk-color-checked: #ff4739 !important;
    --fk-bg-button: #ff4739 !important;
    //Swiper
    --swiper-theme-color: #ff4739 !important;
}

html {
    @include scrollbar;
}

body {
    background-color: #f6f6f6;
    position: relative;
    font-family: $font-family;
}

footer {
    background-image: url("https://carro.sg/assets/img/leap/subs_choose_leap_bg_20200302.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
button {
    color: $secondary-color;
}

//p {
//    font-size: 1.125rem;
//}

a {
    text-transform: none;

    &:active,
    &:focus,
    &:hover {
        text-transform: none;
    }
}

//ngprogress
#nprogress .bar {
    background-color: $primary-color !important;
    height: 3px !important;
    top: 1px !important;
}

#nprogress .spinner-icon {
    border-top-color: $primary-color !important;
    border-left-color: $primary-color !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px $primary-color, 0 0 5px $primary-color;
}
