#simple-search {
    margin: 235px 0 0 0;
    max-width: max-content;
    position: relative;
    z-index: 500;

    .form-group {
        margin: 0;
        &:first-child {
            border-right: 1px solid #c6c6c6;
        }
    }

    form {
        background-color: white;
    }

    li {
        display: inline-block;
        background-color: #fd5750;
        transform: translateY(5px);
        margin-right: 5px;
        cursor: pointer;
        padding: 0.3rem 0.5rem;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        font-size: 14px;
        color: white;
        &.active {
            box-shadow: $box-shadow-large;
            color: black;
            padding: 0.4rem 0.5rem;
            transform: unset;
            background-color: white;
            font-size: 16px;
        }
    }

    select.form-select {
        border: 0;
        height: 100%;
        border-radius: 0;
        min-width: 200px;
        &:focus {
            border: 0;
            box-shadow: none;
        }
    }

    .base-button {
        margin: 0;
    }
}
