.advanced-filter-range-slider {
    --slider-connect-bg: rgba(82, 82, 82, 0.5);
    --slider-height: 3px;
    --slider-handle-border: 2px solid black;
    --slider-handle-height: 20px;
    --slider-handle-width: 20px;

    .slider-handle:focus {
        box-shadow: .5px .5px 2px 1px rgba(0,0,0,0.5);
    }
}
