.advanced-filter-range-slider {
    --slider-connect-bg: rgba(82, 82, 82, 0.5);
    --slider-height: 3px;
    --slider-handle-border: 2px solid black;
    --slider-handle-height: 20px;
    --slider-handle-width: 20px;
}
