.base-button {
    background-color: $main-color;
    border-radius: 4px;
    border: none;
    padding: 0.4rem 1rem;
    color: white;
    width: 100%;
}
.base-button:hover,
.base-button:active {
    color: white;
    background-color: $main-color-hover;
}
