$secondary-color: #24272c;
$main-color: #fd5750;
$main-color-hover: #ff3b33;
$light-gray: rgba(36, 39, 44, 0.1);
$box-shadow: 0 1px 3px rgb(36 39 44 / 15%);
$box-shadow-large: 0 4px 8px 0 rgb(36 39 44 / 10%), 0 2px 2px 0 rgb(36 39 44 / 10%);
$border-radius: 3px;
$error-red: #ff3939;


//some global that can go later in dedicated _globals.scss file
.input__error {
    color: $error-red;
    font-weight: bold;
}

input[type='number'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
