//some global that can go later in dedicated _globals.scss file
.input__error {
    color: $error-red;
    font-weight: bold;
    padding-left: 0.15rem;
}

input[type='number'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-group {
    margin-bottom: 1rem;
}

.bi-exclamation-circle,
.bi-exclamation-circle-fill {
    color: $error-red;
}

//text helper classes
.text-base-color {
    color: $main-color;
}


