@font-face {
    font-family: "Nunito Regular";
    src: url("/resources/fonts/static/Nunito-Regular.ttf") format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Light';
    src: url("../../fonts/static/Nunito-Light.ttf") format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Bold';
    src: url("../../fonts/static/Nunito-Bold.ttf") format('ttf');
    font-display: swap;
}

