.form-group {
    margin-bottom: 1rem;
}

.formkit-outer {
    margin-bottom: 0.5rem;
}

.formkit-wrapper {
    &.disabled {
        opacity: 0.7;
        pointer-events: none;
    }
}

.formkit-input {
    border: 0;
    padding: 0.5rem;
    background-color: $white;
}

.formkit-label {
    font-size: 0.9rem;
}

.formkit-message {
    font-size: 0.8rem;
    color: $error-color;
}

.formkit-help {
    font-size: 0.8rem;
    color: $normal-gray;
}

[data-type="button"] .formkit-input {
    font-weight: bold;
}

button.formkit-input[type='submit'] {
    @include base-primary-button;
    padding: 0.75rem 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

#hasPrice {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.back__button {
    span {
        font-style: italic;
        cursor: pointer;
        &:hover {
            font-weight: bold;
            color: $primary-color;
        }
    }
}

input[type='radio'],
input[type='checkbox']{
    width: 16px;
    height: 16px;
    border-radius: $border-radius;
    border: 1px solid #333;
    &:checked {
        background-color: $primary-color;
    }
    &:focus {
        border: 1px solid #333;
        box-shadow: none;
    }
}

input[type='radio'] {
    border-radius: 50%;
}
