.input__error {
    color: $error-color;
    font-weight: bold;
    padding-left: 0.15rem;
}


.bi-exclamation-circle,
.bi-exclamation-circle-fill {
    color: $error-color;
}

hr {
    background-color: rgba(36, 39, 44, 0.3);
}

//swiper slider
.swiper {
    overflow: unset !important;
}

.swiper-slide {
    padding: 2px 0 !important;
}

.swiper-button-disabled {
    display: none !important;
}

.swiper-button-prev {
    left: -1rem;
}

.swiper-button-next {
    right: -1rem;
}

.swiper-button-prev,
.swiper-button-next {
    width: 32px !important;
    height: 32px !important;
    color: white !important;
    border: 2px solid white !important;
    background-color: $primary-color !important;
    border-radius: 50%;

    &:after {
        font-size: 1rem !important;
    }
}

//toasts
.v-toast__text {
    color: white;
    font-weight: bold;
}

.d-block-i {
    &:before {
        display: block;
    }
}
