@mixin scrollbar() {
    /* width */
    &::-webkit-scrollbar {
        width: 7px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: $light-gray;
        border-radius: 20px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $primary-color;
        border-radius: 20px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $primary-color-dark;
    }
    scrollbar-width: thin;
    scrollbar-color: $primary-color $secondary-color;
}


@mixin base-primary-button() {
    background-color: $primary-color;
    border-radius: 4px;
    border: 2px solid $primary-color;
    padding: 0.75rem 1rem;
    color: white;
    width: 100%;
    margin-top: 1rem;
    &:hover,
    &:active,
    &:focus,
    &:active:hover,
    &:active:focus {
        color: white;
        background-color: $primary-color-dark;
    }
    @media screen and (max-width: 767px) {
        padding: 0.5rem 0.75rem;
    }
}

@mixin secondary-button() {
    background-color: white;
    border-radius: 4px;
    border: 2px solid $secondary-color;
    padding: 0.75rem 1rem;
    color: $secondary-color;
    width: 100%;
    margin-top: 1rem;
    &:hover,
    &:active,
    &:focus,
    &:active:hover,
    &:active:focus {
        color: white;
        background-color: $secondary-color;
    }
}

@mixin ripple($bgColor) {
    &.ripple {
        background-position: center;
        transition: background 500ms ease-in-out;

        &:hover {
            background: rgba($bgColor, 90%) radial-gradient(circle, transparent 1%, rgba($bgColor, 90%) 1%) center/15000%;
        }

        &:active {
            background-color: rgba($bgColor, 70%);
            background-size: 100%;
            transition: background 0s;
        }
    }
}
