//text helper classes
.text-normal-gray {
    color: rgba(36, 39, 44, .5) !important;
}

.text-base-color {
    color: $primary-color !important;
}

.text-secondary-color {
    color: $secondary-color !important;
}

.text-success-color {
    color: $success-color !important;
}

.text-danger-color {
    color: $error-color !important;
}

.text-warning-color {
    color: $warning-color !important;
}

.text-link-blue {
    color: $link-blue !important;

    &:hover {
        color: darken($link-blue, 5%);
    }
}

.custom-container-xs {
    max-width: 500px;
    margin: auto;
}

.custom-container-sm {
    max-width: 700px;
    margin: auto;
}

.custom-container-md {
    max-width: 900px;
    margin: auto;
}

.custom-container-lg {
    max-width: 1100px;
    margin: auto;
}

.custom-container-xl {
    max-width: 1300px;
    margin: auto;
}
