//text helper classes
.text-normal-gray {
    color: rgba(36, 39, 44, .5) !important;
}

.text-base-color {
    color: $main-color;
}

.text-link-blue {
    color: $link-blue;

    &:hover {
        color: darken($link-blue, 5%);
    }
}

