//text helper classes
.text-normal-gray {
    color: rgba(36, 39, 44, .5) !important;
}

.text-base-color {
    color: $primary-color !important;
}

.text-secondary-color {
    color: $secondary-color !important;
}

.text-success-color {
    color: $success-color !important;
}

.text-danger-color {
    color: $error-color !important;
}

.text-warning-color {
    color: $warning-color !important;
}

.text-link-blue {
    color: $link-blue !important;

    &:hover {
        color: darken($link-blue, 5%);
    }
}

