$secondary-color: #0D1C39;
$primary-color: #FF4739;
$primary-color-dark: #ec3529;
$light-gray: #A1AFC5;
$normal-gray: #50617D;
$super-light-gray: #eee;
$box-shadow: 0 1px 3px rgb(36 39 44 / 15%);
$box-shadow-large: 0 4px 8px 0 rgb(36 39 44 / 10%), 0 2px 2px 0 rgb(36 39 44 / 10%);
$border-radius: 4px;
$border-radius-lg: 12px;
$success-color: rgb(113, 206, 127);
$error-color: rgb(254, 45, 46);
$warning-color: rgb(254, 248, 77);
$link-blue: #0C4DA3;
$form-bg: $super-light-gray;
$font-family: 'Nunito', sans-serif;
$white: $super-light-gray;

