$ul-max-height: 300px;

.sell-car {
    max-width: 550px;
    margin: auto;

    span.back__button {
        font-weight: 700;

        &:hover {
            cursor: pointer;
            color: $main-color;
        }
    }

    ul#new__or__used {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        @include media-breakpoint-down(sm) {
            flex-flow: row wrap;
            justify-content: center;
        }

        li {
            flex: 0 0 49%;
            font-weight: 700;
            background-color: white;
            color: $secondary-color;
            padding: 0.5rem 1.75rem;
            border: 2px solid $secondary-color;
            border-radius: $border-radius;
            text-align: center;
            cursor: pointer;
            @include media-breakpoint-down(sm) {
                flex: 0 0 100%;
                &:first-child {
                    margin-bottom: 0.5rem;
                }
            }

            &.active {
                border: 2px solid transparent;
                background-color: $secondary-color;
                color: white;
            }
        }
    }

    div#brand {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        @include media-breakpoint-down(sm) {
            grid-template-columns: 1fr 1fr;
            padding-right: 0.2rem;
        }

        .item {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 5px;
            font-weight: 700;
            height: 90px;
            border: 2px solid transparent;
            border-radius: 4px;
            box-shadow: $box-shadow-large;
            cursor: pointer;
            font-size: 0.850rem;

            &.active {
                border: 2px solid $main-color;
            }
        }
    }

    //step 2
    ul#year,
    ul#model {
        max-height: $ul-max-height;
        overflow: hidden auto;
        padding-right: 0.2rem;
        @include scrollbar;
        @include media-breakpoint-down(sm) {
            max-height: $ul-max-height + 100px;
        }

        li {
            border-bottom: 1px solid $light-gray;
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            border-top: 2px solid transparent;
            padding: 0.875rem 1rem;
            border-radius: 4px;
            cursor: pointer;

            &.active {
                font-weight: 700;
                border: 2px solid $main-color;
            }
        }
    }

    //step 3
    ul#fuel,
    ul#transmission {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        li {
            background-color: #f2f3f7;
            padding: 0.375rem 1rem;
            border: 2px solid transparent;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 1rem;
            @include media-breakpoint-down(sm) {
                flex-basis: 100%;
                margin-bottom: 0.5rem;
            }

            &.active {
                font-weight: 700;
                border: 2px solid $main-color;
            }
        }
    }

    //step4
    ul#car-extras-categories {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 1rem;

        li {
            background-color: #f2f3f7;
            padding: 0.375rem 1rem;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            cursor: pointer;
            flex: 1;
            border: 0;
            border-bottom: 2px solid $main-color;

            &.active {
                font-weight: 700;
                border: 2px solid $main-color;
                border-bottom: 0;
            }
        }
    }

    ul#extras {
        > div {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: center;
            gap: 10px;
        }

        li {
            background-color: #f2f3f7;
            color: $secondary-color;
            position: relative;
            border-radius: 4px;
            text-align: center;
            cursor: pointer;
            border: 2px solid transparent;
            padding: 5px 10px;

            &.active {
                border: 2px solid forestgreen;
                font-weight: 700;
            }
        }
    }

    #car-images-upload {
        padding: 1rem 1rem 1.2rem 1rem;
        width: 100%;
        border: 1px dashed $secondary-color;
        border-radius: 6px;
        background-color: #f2f3f7;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;

        i#info {
            top: 5px;
            left: 8px;
            font-size: 1rem;
            z-index: 20;
        }

        #imageInformationJumbotron {
            border-radius: 12px;
            box-shadow: $box-shadow;
            left: -50px;
            top: 20px;
            height: 200px;
            width: 200px;
            background-color: #f2f3f7;
            padding: 1rem;
        }

        label {
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        p {
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            font-style: italic;
            font-size: 14px;
            margin: 0;
        }

        i {
            font-size: 2.5rem;
            color: $secondary-color
        }
    }

    //step 6
    #car-image-gallery-preview {
        margin-top: 1rem;

        > div {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;

            .main-image {
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $main-color;
                color: $secondary-color;
                text-align: center;
                font-weight: 700;
                font-size: 15px;
                overflow: hidden;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
            }
        }

        img {
            cursor: move;
        }

        .close-btn {
            font-size: 2rem;
            top: -10px;
            left: 5px;
            color: $main-color;
        }

        li {
            padding: 0.375rem 1rem;
            border-radius: 6px;
            height: 144px;
            border: 2px solid $secondary-color;
        }
    }

    .form__input {
        background-color: #f2f3f7;
        border: 0;
        border-radius: 8px;
        padding: 0.375rem 1rem;
        height: calc(3rem + 2px);

        &:focus,
        &:active {
            outline: 0;
            border: 0;
            box-shadow: none;
        }

        & ~ label {
            padding: 0.7rem 1rem;
            height: auto;
        }
        &#search__brand,
        &#search__model {
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
    }

    select.form__input {
        padding-top: 1rem;
    }

    textarea.form__input {
        height: 150px;
        resize: vertical;
    }

    .currently__chosen {
        display: flex;
        flex-flow: row wrap;

        span {
            border-radius: 100em;
            padding: 3px 12px;
            box-shadow: $box-shadow-large;
            font-weight: 700;
            font-size: 0.775rem;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
}
